* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #eee;
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
}

/* Fargekoder
Grønn: 73c0b0
blå: 469ccf*/

.container {
	position: relative;
	text-align: center;
	color: white;
}

.flexbox {
	display: flex;
	max-width: 80vw;
	min-height: 80vh;
	align-items: center;
	justify-content: center;
	margin: auto;
	position: relative;
}

#top {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.096), rgba(127, 197, 199, 0.89)), url(./Img/branimirbalogovic.jpg);
	background-size: cover;
	background-position: center center;
	min-width: 100vw;
	align-items: flex-start;
}

#top h1 {
	font-size: 5rem;
	text-align: center;
	padding-top: 60px;
	color: #73c0b0;
}

#top #introtekst {
	position: absolute;
	color: #eee;
	top: 40vh;
	width: 40vw;
	font-weight: bold;
	line-height: 1.25;
	font-size: 1.5rem;
	text-align: center;
}

h3 {
	text-align: center;
	padding-top: 30px;
	font-size: 1.7rem;
}

.superhelt {
	columns: 5;
	margin: 45px;
	line-height: 1.5;
	display: flex;
	gap: 11px;
}

.steg {
	border-left: #469ccf .5px solid;
	padding: 0 10px 0 15px;
	max-width: 20vw;
}

.stegtittel{
	padding-bottom: 5px;
}

.container1{
	text-align: center;
	color: black;
}

button {
	padding: 20px 10px 20px 10px;
	margin-top: 5vh;
	background: rgb(115, 192, 176);
	background: linear-gradient(90deg, rgba(115, 192, 176, 1) 31%, rgba(70, 156, 207, 1) 61%);
	border-radius: 5px;
	border: none;
	color: whitesmoke;
	font-weight: 600;
	width: 15vw;
	cursor: pointer;
	font-size: 1rem;
}

button:hover {
	background: #73c0b0;
}

.kortinfo {
	padding: 60px 0 60px 0;
	width: 40vw;
	align-items: center;
	justify-content: center;
	margin: auto;
	line-height: 1.5;
	font-weight: 600;
}

.axel {
	display: flex;
	width: 90vw;
	justify-content: center;
	margin: auto;
}

.foto {
	max-width: 50vw;
	max-height: 60vh;
}

.historie {
	position: right;
	width: 30vw;
	max-height: 60vh;
	color: whitesmoke;
	background: rgb(70,156,207);
	/* background: linear-gradient(180deg, rgba(70,156,207,1) 31%, rgba(115,192,176,1) 95%); */
	line-height: 1.5;
	padding: 15px;
}

.referanse {
	font-size: 10px;
	font-style: italic;
	padding-top: 10px;
}

a {
	text-decoration: none;
	color: white;
}

#registrer {
	color: #73c0b0;
	text-decoration: none;
	font-weight: bold;
}

/* Spørsmål seksjon */

.sporsmal {
	place-content: center;
	padding: 40px 0 40px 0;
	line-height: 3;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	row-gap: .5rem;
	column-gap: 8vw;
	margin-right: auto;
	/*
	display: grid;
	grid-template-columns: 30vw 30vw;
	column-gap: 10vw; */
}

.vismer {
	margin-bottom: 2.5rem;
	max-width: 25vw;
	display: flex;
  	flex-direction: column;
  	flex-basis: 100%;
	flex: 1;
}

.vismer h4 {
	min-width: 40vw;
	text-transform: uppercase;
	user-select: none;
	cursor: pointer;
}

.vismer h4::after {
	content: "";
	background-image: url(./Img/arrow.svg);
	background-size: contain;
	width: 1.2em;
	height: 1.2em;
	transform: translate(0, 13px) rotate(180deg);
	float: right;
}

.vismer.open h4::after {
	transform: translate(0, 13px) rotate(0);
}

.vismer p {
	line-height: 1.375rem;
	overflow: hidden;
	transition: height 0.2s ease-in-out;
}

/*****************************************/

#brosjyre {
	width: 14vw;
	margin: auto;
	margin-bottom: -5vh;
	padding-bottom: 20px;
	text-align: left;
}

footer{
	background-color: #73c0b0;
	color: #eee;
	margin-top: 16vh;
	grid-template-columns: 1fr 1fr;
	display: grid;
	padding:5vh;
}

footer p{
	width: 48vw;
	padding: 30px;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
	line-height: 1.5;
}

footer h3{
	font-size: 20px;
}

@media (max-width: 1500px){
	.foto {
		min-width: 50vw;
		max-height: 80vh;
	}

	.historie {
		width: 45vw;
		max-height: 100vh;
	}

	.vismer {
		max-width: 40vw;
		
	}
}

@media (max-width: 1400px){
	.foto {
		max-width: 60vw;
	}
	
	.historie {
		width: 45vw;
		max-height: 100vh;
	}

	.vismer {
		max-width: 90vw;
	}

	.vismer p {
		max-width: 35vw;
	}

}

@media (max-width: 1300px){
	.historie {
		width: 40vw;
		max-height: 60vh;
	}

	.historie {
		min-width: 35vw;
		max-height: 100vh;
		line-height: 1.2;
		padding: 20px;
		font-size: .95rem;
	}
	.vismer {
		max-width: 90vw;
	}

	.vismer p {
		max-width: 35vw;
	}
}

@media (max-width: 1150px){
	.kortinfo {
		font-size: 1.25rem;
		padding: 40px 0 40px 0;
		width: 60vw;
	}

	.superhelt {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: .5rem;
		column-gap: 2vw;
	}

	.steg {
		flex-direction: column;
  		flex-basis: 100%;
		flex: 1;
		font-size: .9rem;
		min-width: 25vw;
	}

	.axel {
		max-width: 100vw;
		margin: auto;
	}

	.foto {
		max-width: 50vw;
	}

	.historie {
		min-width: 40vw;
		max-height: 100vh;
		line-height: 1.2;
		padding: 20px;
		font-size: .95rem;
	}

    .sporsmal {
		flex-direction: column;
		margin: auto;
	}

	.vismer {
		max-width: 45vw;
	}

	.vismer p {
		max-width: 40vw;
	}


	#brosjyre {
		width: 25vw;
		font-size: 1rem;
		padding-bottom: 20px;
	}

	button {
		width: 25vw;
	}
}

@media (max-width: 1100px) {
	#top h1 {
		font-size: 2.3rem;
		padding-top: 40px;
		max-width: 90vw;
	}

	#top #introtekst {
		width: 70vw;
		font-size: 1.2rem;
	}

	.kortinfo {
		width: 70vw;
		font-size: 1.1rem;
		padding: 40px 0 40px 0;
		
	}

	.superhelt {
		flex-direction: column;
	}

	.steg {
		border-left: #469ccf .5px solid;
		padding: 0 10px 0 15px;
		max-width: 80vw;
	}

	.axel {
		flex-direction: column;
		max-width: 100vw;
		margin: 0;
	}

	.foto {
		min-width: 100vw;
	}

	.historie {
		position: right;
		width: 100vw;
		max-height: 100vh;
		line-height: 1.5;
		padding: 15px;
		margin-bottom: 40px;
	}

	.sporsmal {
		flex-direction: column;
		margin: 0;
		padding: 10vh 10vw 0 10vw;
	}

	.vismer {
		max-width: 60vw;
	}

	.vismer h4 {
		max-width: 55vw;
		padding-bottom: 10px;
		font-size: 1rem;
		line-height: 1.4;
	}

	.vismer p{
		width: 45vw;
	}

	button {
		width: 40vw;
		
	}

	#brosjyre {
		width: 45vw;
		margin: auto;
		font-size: .8rem;
		padding-bottom: 20px;
		visibility: hidden;
	}

	footer {
		padding: 50px;
		grid-template-columns: 1fr;
	}

	footer p{
		width: 70vw;
	}
}

@media (max-width: 900px){
	#top h1 {
		font-size: 2.3rem;
		padding-top: 40px;
		max-width: 90vw;
	}

	#top #introtekst {
		width: 70vw;
		font-size: 1.2rem;
	}

	.kortinfo {
		width: 70vw;
		font-size: 1.1rem;
		padding: 40px 0 40px 0;
		
	}

	.superhelt {
		flex-direction: column;
	}

	.steg {
		border-left: #469ccf .5px solid;
		padding: 0 10px 0 15px;
		max-width: 80vw;
	}

	.axel {
		flex-direction: column;
		max-width: 100vw;
		margin: 0;
	}

	.foto {
		min-width: 100vw;
	}

	.historie {
		position: right;
		width: 100vw;
		max-height: 100vh;
		line-height: 1.5;
		padding: 15px;
		margin-bottom: 40px;
	}

	.sporsmal {
		flex-direction: column;
		margin: 0;
		padding: 7vh 0vw 0 7vw;
	}

	.vismer {
		max-width: 48vw;
	}

	.vismer h4 {
		min-width: 45vw;
		padding-bottom: 10px;
		font-size: 1rem;
		line-height: 1.4;
	}

	.vismer p{
		width: 40vw;
	}

	button {
		width: 40vw;
		
	}

	#brosjyre {
		width: 45vw;
		margin: auto;
		font-size: .8rem;
		padding-bottom: 20px;
		visibility: hidden;
	}

	footer {
		padding: 50px;
		grid-template-columns: 1fr;
	}

	footer p{
		width: 70vw;
	}
}

@media (max-width: 830px ){
	#top h1 {
		font-size: 2.3rem;
		padding-top: 40px;
		max-width: 90vw;
	}

	#top #introtekst {
		width: 70vw;
		font-size: 1.2rem;
	}

	.kortinfo {
		width: 70vw;
		font-size: 1.1rem;
		padding: 40px 0 40px 0;
		
	}

	.superhelt {
		flex-direction: column;
	}

	.steg {
		border-left: #469ccf .5px solid;
		padding: 0 10px 0 15px;
		max-width: 80vw;
	}

	.axel {
		flex-direction: column;
		max-width: 100vw;
		margin: 0;
	}

	.foto {
		min-width: 100vw;
	}

	.historie {
		position: right;
		width: 100vw;
		max-height: 100vh;
		line-height: 1.5;
		padding: 15px;
		margin-bottom: 40px;
	}

	.sporsmal {
		flex-direction: column;
		margin: 0;
		padding: 7vh 10vw 0 7vw;
		
	}

	.vismer {
		max-width: 100vw;
	}

	.vismer h4 {
		max-width: 50vw;
		padding-bottom: 10px;
		font-size: 1rem;
		line-height: 1.4;
	}

	.vismer p{
		width: 27vw;
		font-size: .9rem;
	}

	button {
		width: 40vw;	
	}

	#brosjyre {
		width: 45vw;
		margin: auto;
		font-size: .8rem;
		padding-bottom: 20px;
		visibility: hidden;
	}

	footer {
		padding: 50px;
		grid-template-columns: 1fr;
	}

	footer p{
		width: 70vw;
	}
}

@media (max-width: 760px){
	#top h1 {
		font-size: 2.3rem;
		padding-top: 40px;
		max-width: 90vw;
	}

	#top #introtekst {
		width: 70vw;
		font-size: 1.2rem;
	}

	.kortinfo {
		width: 70vw;
		font-size: 1.1rem;
		padding: 40px 0 40px 0;
		
	}

	.superhelt {
		flex-direction: column;
	}

	.steg {
		border-left: #469ccf .5px solid;
		padding: 0 10px 0 15px;
		max-width: 80vw;
	}

	.axel {
		flex-direction: column;
		max-width: 100vw;
		margin: 0;
	}

	.foto {
		min-width: 100vw;
	}

	.historie {
		position: right;
		width: 100vw;
		max-height: 100vh;
		line-height: 1.5;
		padding: 15px;
		margin-bottom: 40px;
	}

	.sporsmal {
		flex-direction: column;
		margin: 0;
		padding: 10vh 10vw 0 10vw;
		
	}

	.vismer {
		max-width: 90vw;
	}

	.vismer h4 {
		max-width: 56vw;
		padding-bottom: 10px;
		font-size: 1rem;
		line-height: 1.4;
	}

	.vismer p{
		width: 40vw;
	}

	button {
		width: 40vw;
		
	}

	#brosjyre {
		width: 45vw;
		margin: auto;
		font-size: .8rem;
		padding-bottom: 20px;
		visibility: hidden;
	}

	footer {
		padding: 50px;
		grid-template-columns: 1fr;
	}

	footer p{
		width: 70vw;
	}
}

@media (max-width: 680px){
	#top h1 {
		font-size: 2.3rem;
		padding-top: 40px;
		max-width: 90vw;
	}

	#top #introtekst {
		width: 70vw;
		font-size: 1.2rem;
	}

	.kortinfo {
		width: 70vw;
		font-size: 1.1rem;
		padding: 40px 0 40px 0;
		
	}

	.superhelt {
		flex-direction: column;
	}

	.steg {
		border-left: #469ccf .5px solid;
		padding: 0 10px 0 15px;
		max-width: 80vw;
	}

	.axel {
		flex-direction: column;
		max-width: 100vw;
		margin: 0;
	}

	.foto {
		min-width: 100vw;
	}

	.historie {
		position: right;
		width: 100vw;
		max-height: 100vh;
		line-height: 1.5;
		padding: 15px;
		margin-bottom: 40px;
	}

	.sporsmal {
		flex-direction: column;
		margin: 0;
		padding: 7vh 7vw 0 7vw;
		
	}

	.vismer {
		max-width: 95vw;
	}

	.vismer h4 {
		max-width: 65vw;
		padding-bottom: 10px;
		font-size: 1rem;
		line-height: 1.4;
	}

	.vismer p{
		width: 50vw;
		font-size: .9rem;
	}

	button {
		width: 40vw;
		
	}

	#brosjyre {
		width: 45vw;
		margin: auto;
		font-size: .8rem;
		padding-bottom: 20px;
		visibility: hidden;
	}

	footer {
		padding: 50px;
		grid-template-columns: 1fr;
	}

	footer p{
		width: 70vw;
	}
}