* {
    box-sizing:border-box;
    margin:0;
    padding:0; 
}

body{
    background-color: #eee;
    font-family: Arial;   
}

/* Fargekoder
Grønn: 73c0b0 
blå: 469ccf*/

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  img{
      width: 100vw;
      height: 85vh;
      object-fit: cover;
  }
  .foto{
      width: 70vw;
      height: 70vh;
      
      margin-left: 100px;
  }

  .top {
    position: absolute;
    top: 20%;
    left: 32%;
    color: #73c0b0;
    font-style: italic;
  }

  .introtekst{
      position: absolute;
      top: 30%;
      left: 32%;
      width: 480px;
      font-style: italic;
      line-height: 1.5;
  }

  h3{
      padding-left: 555px;
      padding-top: 30px;
  }

.superhelt{
    columns: 5;
    margin: 45px;
    line-height: 1.5;
    display: flex;
    gap: 11px;
}

.steg{
    border-right: #469ccf .5px solid;
    padding-right: 5px;
}

button{
    padding: 20px;
    margin-left: 540px;
    background: rgb(115,192,176);
    background: linear-gradient(90deg, rgba(115,192,176,1) 31%, rgba(70,156,207,1) 61%);
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    font-style: bold;
}

.kortInfo{
    top: 30%;
    left: 32%;
    width: 700px;
    margin-left: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.5;
}

.historie {
    position: absolute;
    top: 1400px;
    left: 62%;
    width: 400px;
    color: black;
    font-style: italic;
    background-color: #73c0b0;
    line-height: 1.5;
    padding: 5px;
  }

  .brukersitat{
    position: absolute;
    top: 1600px;
    left: 62%;
    width: 400px;
    font-style: italic;
    line-height: 1.5;
    background-color: #73c0b0;
    padding: 5px;
  }

  .spørsmål{
    margin-left: 300px;
    padding-top: 50px;
    line-height: 3;
    margin-bottom: 40px;
  }

  .brosjyre{
    margin-left: 470px;
    width: 300px;
    padding-bottom: 20px;
  }

  footer{
      background-color:#73c0b0;
      margin-top: 30px;
      padding: 80px;
  }